.area {
    padding: 20px;

    background-color: var(--background);

    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 2px solid var(--border-items);
    border-radius: 20px;

    margin: 10px;

    width: 200px;

    .textOfHourAndDate {
        font-size: 1.2rem;
        
        color: var(--text);

        margin-bottom: 8px;
    }
    
    .textRainType {
        font-weight: bold;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 1207px) {
    .area {
        width: 46%;
    }
}

@media screen and (max-width: 973px) {
    .area {
        width: 45%;
    }
}

@media screen and (max-width: 815px) {
    .area {
        width: 100%;
    }
}

@media screen and (max-width: 561px) {
    .area {
        .textOfHourAndDate {
            font-size: 1.8rem;
        }

        .textRainType {
            font-size: 1.65rem;
        }
    }
}