:root {
    --text-strong: #d3e0b7;
    --text: #acb683;
    --background: #140c24;
    --border-items: #35313d;
    --subtitle-whithout-rain: #93b93d;
    --subtitle-moderate-rain: #9f833d;
    --subtitle-light-rain: #245ac2;
    --subtitle-heavy-rain: #b33c3e;
}

* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--background);
}