.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 24px;

    width: 52.6vw;
}

@media screen and (max-width: 693px) {
    .container {
        width: 100%;
    }
}